/* Custom Variables */
:root {
  --font-family: "Inter", sans-serif;
  --teal: #00adb5;
  --dark: #1e1e1e;
  --white: #eeeeee;
  --gray: #393e46;
  --dark-gray: #222831;
  --light-gray: #dcdcdc;
  --orange: #d2691e;
}
* {
  background-color: var(--dark-gray);
  color: var(--white);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
  color: var(--white);
  background-color: var(--light-gray);
  font-family: var(--font-family);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--white);
}
